<section class="casino-categories casino-categories--providers">
	<div class="casino-categories__container">
		<div class="casino-categories__header">
			<h2 class="casino-categories__title title">Ігрові провайдери</h2>
			<div class="casino-categories__buttons">
				<button type="button" class="casino-categories-button-prev swiper-button _icon-slider-arrow-left"></button>
				<button type="button" class="casino-categories-button-next swiper-button _icon-slider-arrow-right"></button>
			</div>
		</div>
		<div class="casino-categories__slider swiper">
			<div class="casino-categories__wrapper swiper-wrapper">
				@@include('./_casino-category-slide-provider.htm',{"image":"provider-01.png"}) 
                @@include('./_casino-category-slide-provider.htm',{"image":"provider-02.png"})
				@@include('./_casino-category-slide-provider.htm',{"image":"provider-03.png"}) 
                @@include('./_casino-category-slide-provider.htm',{"image":"provider-04.png"})
				@@include('./_casino-category-slide-provider.htm',{"image":"provider-05.png"}) 
                @@include('./_casino-category-slide-provider.htm',{"image":"provider-06.png"})
				@@include('./_casino-category-slide-provider.htm',{"image":"provider-07.png"}) 
                @@include('./_casino-category-slide-provider.htm',{"image":"provider-08.png"})
				@@include('./_casino-category-slide-provider.htm',{"image":"provider-09.png"}) 
                @@include('./_casino-category-slide-provider.htm',{"image":"provider-10.png"})
				@@include('./_casino-category-slide-provider.htm',{"image":"provider-11.png"}) 
                @@include('./_casino-category-slide-provider.htm',{"image":"provider-12.png"})
			</div>
		</div>
	</div>
</section>
