<div class="categories">
    <div class="categories__container">
        <ul class="categories__list">
            @@include('./_categories-item.htm',{"title":"Онлайн казино", "image":"categories/category-01.png"})
            @@include('./_categories-item.htm',{"title":"Казино", "image":"categories/category-02.png"})
            @@include('./_categories-item.htm',{"title":"Спорт", "image":"categories/category-03.png"})
            @@include('./_categories-item.htm',{"title":"Игры", "image":"categories/category-04.png"})
        </ul>
    </div>
</div>