<ul class="footer__currencies currencies-footer">
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/01.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/02.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/03.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/04.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/05.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/06.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/07.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/08.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/09.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/10.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/11.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/12.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/13.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/14.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/15.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/16.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/17.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/18.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/19.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/20.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/21.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/22.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/23.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/24.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/25.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/26.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/27.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/28.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/29.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/30.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/40.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/41.svg" alt="" />
	</li>
	<li class="currencies-footer__item">
		<img width="22" height="22" src="@img/currencies/42.svg" alt="" />
	</li>
</ul>
