<nav class="footer__nav nav-footer">
    <ul class="nav-footer__list">
        <li class="nav-footer__item">
            <a href="#" class="nav-footer__link footer-link">ЦЕНТР ДОПОМОГИ </a>
        </li>
        <li class="nav-footer__item">
            <a href="#" class="nav-footer__link footer-link"> УГОДА КОРИСТУВАЧА</a>
        </li>
        <li class="nav-footer__item">
            <a href="#" class="nav-footer__link footer-link"
                >ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</a
            >
        </li>
        <li class="nav-footer__item">
            <a href="#" class="nav-footer__link footer-link">
                УСВІДОМЛЕННЯ АЗАРТНИХ ІГОР</a
            >
        </li>
        <li class="nav-footer__item">
            <a href="#" class="nav-footer__link footer-link"> AML</a>
        </li>
        <li class="nav-footer__item">
            <a href="#" class="nav-footer__link footer-link"> SELF-EXCLUSION</a>
        </li>
        <li class="nav-footer__item">
            <a href="#" class="nav-footer__link footer-link"> SPORT RULES</a>
        </li>
        <li class="nav-footer__item">
            <a href="#" class="nav-footer__link footer-link">VERIFY REPRESENTATIVE</a>
        </li>
    </ul>
</nav>