<section class="benefits-list">
    <div class="benefits-list__container">
        <h2 class="benefits-list__title title">
            ОТРИМУЙ БЕЗКОШТОВНІ <span class="_red">JET</span> ЗА ПЕРЕБУВАННЯ НА САЙТІ!
        </h2>
        <div class="benefits-list__items">
            @@include('./_benefits-list-item.htm',{"image":"05.png","title":"ПЕРЕЙДИ НА САЙТ Casino21UA","text":"Використовуй спрощену систему входу для отримання задоволення від гри на Casino21UA"})
            @@include('./_benefits-list-item.htm',{"image":"06.png","title":"ГРАЙ В УЛЮБЛЕНІ ІГРИ","text":"Перебувай на Coins.Game, спілкуйся в чаті, грай в ігри!"})
            @@include('./_benefits-list-item.htm',{"image":"07.png","title":"ВІДКРИВАЙ БОКСИ","text":"Очікуй на нове поповнення боксу!"})
            @@include('./_benefits-list-item.htm',{"image":"08.png","title":"Підписуйся на повідомлення","text":"Щоб не пропустити гарячі роздачі"})
        </div>
        <a href="#" class="benefits-list__button button"><span class="button__text">Почати</span></a>
    </div>
</section>
