<section class="benefits-list">
    <div class="benefits-list__container">
        <h2 class="benefits-list__title title">
            ОТРИМУЙ БЕЗКОШТОВНІ <span class="_red">JET</span> ЗА ПЕРЕБУВАННЯ НА САЙТІ!
        </h2>
        <div class="benefits-list__items">
            @@include('./_benefits-list-item.htm',{"image":"09.png","title":"LEVEL UP BONUS","text":"Reach new heights with our Level-Up Bonus"})
            @@include('./_benefits-list-item.htm',{"image":"10.png","title":"DAILY, WEEKLY & MONTHLY CASHBACK","text":"Power up with captivating daily bonuses"})
            @@include('./_benefits-list-item.htm',{"image":"11.png","title":"BONUS CALENDAR","text":"Schedule your Recharge bonuses by your choice"})
            @@include('./_benefits-list-item.htm',{"image":"08.png","title":"Підписуйся на повідомлення","text":"щоб не пропустити гарячі роздачі"})
        </div>
        <a href="#" class="benefits-list__button button"><span class="button__text">Почати</span></a>
    </div>
</section>
