<section class="benefits-list">
    <div class="benefits-list__container">
        <h2 class="benefits-list__title title">
            Привілеї VIP-клубу
            <span class="_red">Casino21UA </span>
        </h2>
        <div class="benefits-list__items">
            @@include('./_benefits-list-item.htm',{"image":"01.png","title":"РІВЕНЬ І НАГОРОДИ","text":"Що більше ви граєте - то вище можливості"})
            @@include('./_benefits-list-item.htm',{"image":"02.png","title":"ПІДВИЩЕНИЙ КЕШБЕК","text":"Що вище ранг, то більше кешбек"})
            @@include('./_benefits-list-item.htm',{"image":"03.png","title":"ЕКСКЛЮЗИВНІ АКЦІЇ","text":"Більш високий ранг надасть вам доступ до більшої кількості безкоштовних монет"})
            @@include('./_benefits-list-item.htm',{"image":"04.png","title":"VIP-КЛУБ","text":"Станьте частиною VIP клубу для отримання ексклюзивних бонусів"})
        </div>
    </div>
</section>
