<div class="languages" data-simplebar>
    <h3 class="languages__title title">МОВА</h3>
    <ul class="languages__list">
        <li class="languages__list-item language _current-language">
            <a href="#" class="language__list-link">
                <div class="language__flag">
                    <img width="25" height="22" data-src="@img/flags/ua.png" alt="" />
                </div>
                <span class="language__label">Україна</span>
            </a>
        </li>        
        @@include('./_languages-item.htm',{"image":"en.png","label":"English"})
        @@include('./_languages-item.htm',{"image":"fr.png","label":"Français"})
        @@include('./_languages-item.htm',{"image":"sp.png","label":"Español"})
        @@include('./_languages-item.htm',{"image":"ir.png","label":"हिन्दी"})
        @@include('./_languages-item.htm',{"image":"in.png","label":"Indonesian"})
        @@include('./_languages-item.htm',{"image":"ja.png","label":"日本語"})
        @@include('./_languages-item.htm',{"image":"sk.png","label":"한국어"})
        @@include('./_languages-item.htm',{"image":"cn.png","label":"中文"})
        @@include('./_languages-item.htm',{"image":"ir.png","label":"فارسی"})
        @@include('./_languages-item.htm',{"image":"pr.png","label":"Português"})
        @@include('./_languages-item.htm',{"image":"ru.png","label":"Русский"})
    </ul>
</div>
