<div data-dropdown-parent class="bet-row-card">
	<header class="bet-row-card__info">
		<div class="bet-row-card__event">
			<img width="18" height="18" src="@img/menu-icons/basketball-02.svg" alt="" />
			Північна Америка, НБА
		</div>
		<div class="bet-row-card__time">
			<img width="18" height="18" src="@img/menu-icons/calendar.svg" alt="" />
			22 березня, 01:10
		</div>
	</header>
	<div class="bet-row-card__content">
		<div class="bet-row-card__rival">
			<div class="bet-row-card__logo-rival">
				<img width="63" height="63" src="@img/flags/turkey.svg" alt="" />
			</div>
			<span class="bet-row-card__name-rival">Anadolu Efes SK</span>
		</div>
		<div class="bet-row-card__rival">
			<div class="bet-row-card__logo-rival">
				<img width="63" height="63" src="@img/flags/olymp.svg" alt="" />
			</div>
			<span class="bet-row-card__name-rival">BC Olympiakos Piraeus</span>
		</div>
	</div>
	<footer class="bet-row-card__footer">
		<div class="bet-row-card__description">Winner (incl. overtime)</div>
		<div class="bet-row-card__actives">
			<a href="#" class="bet-row-card__bet">
				<span>1</span>
				<span>1,5</span>
			</a>
			<a href="#" class="bet-row-card__bet">
				<span>1</span>
				<span>1,5</span>
			</a>
			<button data-dropdown-button class="bet-row-card__more-bets-btn _icon-daw-bottom"></button>
			<div class="bet-row-card__all-bets">
				<a href="#" class="bet-row-card__bet">
					<span>1</span>
					<span>1,5</span>
				</a>
				<a href="#" class="bet-row-card__bet">
					<span>1</span>
					<span>1,5</span>
				</a>
				<a href="#" class="bet-row-card__bet">
					<span>1</span>
					<span>1,5</span>
				</a>
				<a href="#" class="bet-row-card__bet">
					<span>1</span>
					<span>1,5</span>
				</a>
				<a href="#" class="bet-row-card__bet">
					<span>1</span>
					<span>1,5</span>
				</a>
				<a href="#" class="bet-row-card__bet">
					<span>1</span>
					<span>1,5</span>
				</a>
			</div>
		</div>
	</footer>
</div>
