<details class="bet-spollers__item" data-open>
    <summary class="bet-spollers__title">
        <div class="bet-spollers__image">
            <img width="45" height="45" data-src="@img/categories/@@image" alt="" />
        </div>
        @@title
        <span class="_icon-daw-bottom"></span>
    </summary>
    <div class="bet-spollers__body">
        <div class="bet-collection">
            @@include('./_beet-row-card.htm')
            @@include('./_beet-row-card.htm')
            @@include('./_beet-row-card.htm')
            @@include('./_beet-row-card.htm')
            @@include('./_beet-row-card.htm')
            @@include('./_beet-row-card.htm')
            @@include('./_beet-row-card.htm')
            @@include('./_beet-row-card.htm')
            @@include('./_beet-row-card.htm')
        </div>
    </div>
</details>
