.info-block {
    &__container {
        @media (min-width: $tablet) {
            display: flex;
            gap: toRem(36);
            flex-direction: row-reverse;
        }
    }
    &__content {
        padding-top: toRem(50);
        max-width: 100%;
    }
    &__title {
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
        @media (min-width: $tablet) {
            max-width: toRem(526);
        }
    }
    &__text {
        font-size: toRem(20);
        font-weight: 500;
        line-height: 1.36;
        p:not(:last-child) {
            margin-bottom: toRem(20);
        }
        &:not(:last-child) {
            margin-bottom: toRem(50);
        }
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background: linear-gradient(
                0deg,
                rgba(15, 22, 33, 0.88) 38.46%,
                rgba(15, 22, 33, 0) 104.1%
            );
            bottom: 0;
            left: 0;
            width: 100%;
            height: toRem(157);
            opacity: 1;
            pointer-events: none;
            ._showmore-active & {
                opacity: 0;
            }
        }
    }
    &__image {
        flex: 0 0 48.269231%; /* 753/1560 */
        @media (max-width: $tablet) {
            max-width: toRem(500);
            margin: 0 auto;
        }
    }
    &__image-wrapper {
        position: relative;
        padding-bottom: 78.75166%; /* 593/753 */
        img {
            position: absolute;
            width: 117.264276%; /* 883/753 */
            height: 131.365936%; /* 779/593 */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
