<li class="table__item bets-item">
	<span class="bets-item__game _icon-dice">Dice</span>
	<span class="bets-item__time _icon-time">11:40:06 AM</span>
	<div class="bets-item__user">
		<div class="bets-item__user-image">
			<img width="27" height="27" data-src="@img/users/user-01.png" alt="" />
		</div>
		<span class="bets-item__user-login">LUCKY544</span>
	</div>
	<div class="bets-item__amount">
		<div class="bets-item__amount-image">
			<img width="25" height="25" src="@img/currencies/30.svg" alt="" class="" />
		</div>
		<span class="bets-item__amount-tariff">0.00236602</span>
	</div>
	<span class="bets-item__multiplier">
		<span class="bets-item__multiplier-value">х1.00</span>
	</span>
	<div class="bets-item__payout">
		<div class="bets-item__payout-image">
			<img width="25" height="25" src="@img/currencies/30.svg" alt="" class="" />
		</div>
		<span class="bets-item__payout-tariff">0.00236532</span>
	</div>
</li>
