<div class="table">
    <header class="table__head">
        <div class="table__label">GAME</div>
        <div class="table__label">TIME</div>
        <div class="table__label">USER</div>
        <div class="table__label">BET AMOUNT</div>
        <div class="table__label">MULTIPLIER</div>
        <div class="table__label">PAYOUT</div>
    </header>
    <ul class="table__items" data-simplebar>
        @@include('./_bets-list-item.htm',{})
        @@include('./_bets-list-item.htm',{})
        @@include('./_bets-list-item.htm',{})
        @@include('./_bets-list-item.htm',{})
        @@include('./_bets-list-item.htm',{})
        @@include('./_bets-list-item.htm',{})
        @@include('./_bets-list-item.htm',{})
        @@include('./_bets-list-item.htm',{})
        @@include('./_bets-list-item.htm',{})
        @@include('./_bets-list-item.htm',{})
    </ul>
</div>
