<li class="table__item bets-item">
	<div class="bets-item__user">
		<div class="bets-item__user-image">
			<img width="27" height="27" data-src="@img/users/user-01.png" alt="" />
		</div>
		<span class="bets-item__user-login">LUCKY544</span>
	</div>
	<span class="bets-item__text">Беттинг</span>
	<span class="bets-item__multiplier">
		<span class="bets-item__multiplier-value">х1.00</span>
	</span>
	<div class="bets-item__payout">
		<div class="bets-item__payout-image">
			<img width="25" height="25" src="@img/currencies/30.svg" alt="" class="" />
		</div>
		<span class="bets-item__payout-tariff">0.00236532</span>
	</div>
</li>
