<div class="cards-list">
	<div class="cards-list__items">
		@@include('./_cards-list-item-small.htm', {}) 
        @@include('./_cards-list-item-small.htm', {}) 
        @@include('./_cards-list-item-small.htm', {}) 
        @@include('./_cards-list-item-small.htm', {})
		@@include('./_cards-list-item-small.htm', {}) 
        @@include('./_cards-list-item-small.htm', {}) 
        @@include('./_cards-list-item-small.htm', {}) 
        @@include('./_cards-list-item-small.htm', {})
		@@include('./_cards-list-item-small.htm', {})
	</div>
	<a href="#" class="cards-list__button button"><span class="button__text">Показати більше</span></a>
</div>
