// ===============
// colors palette
// ===============
:root {
    // Site colors (Кольори сайту):
    // =================================================================
    --primary: #ff0037; // Site main color - (Основний колір сайту)
    --primary-dark: #8a0a28;
    --secondary: #1aaa3c; // Site secondary color - (Додатковий колір сайту)

    // Background colors (Фонові кольори):
    // =================================================================
    --bg-primary: #0f1621; // BG primary background color - (Основний фоновий колір сайту)
    --bg-secondary: #161f2c; // BG secondary background color - (Додатковий фоновий колір сайту)
    --bg-accent: linear-gradient(
        95deg,
        #ff164b 14.26%,
        #ff0041 53.97%,
        #8f0024 99.63%
    ); // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.

    // Text colors (Текстові кольори):
    // =================================================================
    --text-primary: #415775; // Text primary text color - (Основний текстовий колір сайту)
    --text-secondary: #fff; // Text secondary text color - (Додатковий текстовий колір сайту)
    --text-accent: #ff0037; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
    // =================================================================

    // Text colors (Текстові кольори):
    // =================================================================
    --linear-primary: linear-gradient(180deg, #ff2151 2.74%, #ff0041 47.4%, #d70036 100%);
    --linear-secondary: linear-gradient(180deg, #ffd27c 0%, #ffae15 40.9%, #f68d1a 100%);
    // =================================================================
}
