// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
    &.simple-spollers {
        display: flex;
        flex-direction: column;
        gap: toRem(10);
        max-width: toRem(1010);
        margin: 0 auto;
        width: 100%;
    }
    &__item {
    }
    &__title {
        width: 100%;
        cursor: default;
        text-align: left;
        position: relative;
        list-style: none;
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
        @media (min-width: $mobile) {
            text-transform: uppercase;
            &--only-mobile {
                display: none;
            }
        }
        @media (max-width: $mobile) {
            background-color: #1a2534;
            padding: toRem(15) toRem(30);
            margin: 0 toRem(-15);
            width: calc(100% + toRem(30));
        }
        &::marker,
        &::-webkit-details-marker {
            display: none;
        }
        .simple-spollers & {
            min-height: toRem(80);
            padding: toRem(10) toRem(70) toRem(10) toRem(30);
            background-color: var(--bg-secondary);
            border-radius: 20px;
            color: var(--text-secondary);
            font-weight: 800;
            @include adaptiveValue("font-size", 20, 15);
            display: flex;
            align-items: center;
            transition: border-radius 0.3s;
            line-height: 1.33;
            margin: 0;
            width: 100%;
            @media (max-width: $mobile) {
                padding-left: toRem(15);
            }
            &._spoller-active {
                border-radius: toRem(20) toRem(20) 0 0;
            }
        }
        ._spoller-init & {
            cursor: pointer;
            &::before,
            &::after {
                content: "";
                position: absolute;
                right: toRem(29);
                top: 50%;
                background-color: var(--text-primary);
                height: 1px;
                width: toRem(6);
                transition:
                    transform 0.5s ease 0s,
                    width 0.3s;
            }
            &::before {
                transform: translate(calc(-70%), -50%) rotate(40deg);
            }
            &::after {
                transform: translate(0, -50%) rotate(-40deg);
            }
            &._spoller-active {
                &::before {
                    transform: translateX(-70%) rotate(-40deg);
                }
                &::after {
                    transform: rotate(40deg);
                }
            }
        }
        ._spoller-init.simple-spollers & {
            &::before,
            &::after {
                width: toRem(24);
                height: toRem(3);
                @media (max-width: $mobile) {
                    width: toRem(14);
                    height: toRem(2);
                }
            }
            &::before {
                transform: rotate(90deg);
            }
            &::after {
                transform: rotate(0);
            }
            &._spoller-active {
                &::after {
                    background-color: var(--primary);
                }
                &::before {
                    width: 0;
                }
            }
        }
    }
    &__body {
        @media (max-width: $mobile) {
            padding: 0 0 toRem(20) toRem(15);
        }
        .simple-spollers & {
            padding: toRem(20) toRem(20) toRem(20) toRem(30);
            background-color: var(--bg-secondary);
            border-radius: 0 0 20px 20px;
            margin-top: toRem(1);
            line-height: 1.33;
            font-weight: 500;
            .spollers__text {
                max-width: toRem(829);
            }
        }
    }
}
