<div class="chat-window">
    <header class="chat-window__head">
        <select name="form[]" data-class-modif="chat-window">
            <option value="1" selected>Global</option>
            <option value="2">Пункт №2</option>
            <option value="3">Пункт №3</option>
            <option value="4">Пункт №4</option>
        </select>
        <div class="chat-window__actives">
            <button class="chat-window__icon">
                <img src="@img/telegram.svg" alt="" />
            </button>
            <button class="chat-window__icon _icon-settings"></button>
            <button class="chat-window__icon _icon-info"></button>
        </div>
        <button class="chat-window__close-btn"></button>
    </header>
    <div class="chat-window__messages" data-simplebar>
        <div class="chat-window__message message">
            <div class="message__user">
                <div class="message__user-avatar">
                    <img src="@img/users/03.png" alt="" />
                </div>
                <span class="message__user-counter">3</span>
            </div>
            <div class="message__body">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                <button class="message__forward _icon-share"></button>
            </div>
        </div>
        <div class="chat-window__message message">
            <div class="message__user">
                <div class="message__user-avatar">
                    <img src="@img/users/04.png" alt="" />
                </div>
                <span class="message__user-counter">3</span>
            </div>
            <div class="message__body">
                Lorem ipsum dolor
                <button class="message__forward _icon-share"></button>
            </div>
        </div>
        <div class="chat-window__message message">
            <div class="message__user">
                <div class="message__user-avatar">
                    <img src="@img/users/05.png" alt="" />
                </div>
                <span class="message__user-counter">3</span>
            </div>
            <div class="message__body">
                Lorem
                <button class="message__forward _icon-share"></button>
            </div>
        </div>
        <div class="chat-window__message message">
            <div class="message__user">
                <div class="message__user-avatar">
                    <img src="@img/users/06.png" alt="" />
                </div>
                <span class="message__user-counter">3</span>
            </div>
            <div class="message__body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sapiente
                provident alias amet eligendi.
                <button class="message__forward _icon-share"></button>
            </div>
        </div>
        <div class="chat-window__message message">
            <div class="message__user">
                <div class="message__user-avatar">
                    <img src="@img/users/07.png" alt="" />
                </div>
                <span class="message__user-counter">3</span>
            </div>
            <div class="message__body">
                Lorem ipsum dolor
                <button class="message__forward _icon-share"></button>
            </div>
        </div>
        <div class="chat-window__message message">
            <div class="message__user">
                <div class="message__user-avatar">
                    <img src="@img/users/04.png" alt="" />
                </div>
                <span class="message__user-counter">3</span>
            </div>
            <div class="message__body">
                Lorem ipsum dolor
                <button class="message__forward _icon-share"></button>
            </div>
        </div>
    </div>
    <div class="chat-window__footer">
        <a href="login.html" class="button button--yellow"
            ><span class="button__text">Увійти</span></a
        >
        <a href="registry.html" class="button"><span class="button__text">Реєстрація</span> </a>
    </div>
</div>
