<div class="game-window">
    <div class="game-window__container">
        <div class="game-window__content">
            <header class="game-window__header">
                <a href="#" class="game-window__button button-game-window button">
                    <span class="button-game-window__icon _icon-simple-arrow-left"></span>
                    <span class="button-game-window__text">Merge up</span>
                </a>
                <div class="game-window__active">
                    <div class="game-window__demo demo-game-window">
                        <input
                            type="checkbox"
                            id="demo"
                            name="demo"
                            class="demo-game-window__input"
                             checked
                        />
                        <label class="demo-game-window__label" for="demo">
                            <span class="demo-game-window__text">Демогра</span>
                            <span class="demo-game-window__toggle"></span
                        ></label>
                    </div>
                    <button class="game-window__icon _icon-favorite"></button>
                    <button class="game-window__icon _icon-scale"></button>
                </div>
                <button class="game-window__icon _icon-close"></button>
            </header>
            <div class="game-window__body">
                <img width="220" height="159" class="game-window__body-bg" src="@img/controller.svg" alt="" />
            </div>
        </div>
    </div>
</div>
