<section class="info-block">
    <div class="info-block__container">
        <div class="info-block__image">
            <div class="info-block__image-wrapper"><img width="854" height="554" data-src="@img/info-block.png" alt="" /></div>
        </div>
        <div data-showmore class="info-block__content">
            <h2 class="info-block__title title">
                <span class="_red">Сoins Game </span>Online Crypto Casino and Sports Betting
                Platform
            </h2>
            <div class="info-block__text" data-showmore-content="283">
                <p>
                    Looking for an outstanding bitcoin casino experience? Look no further than
                    BetFury – a top-tier crypto casino with a range of exclusive In-house games,
                    vast selection of online slot machines, live casino games and unbeatable
                    partnerships. With three years of experience in the field, we've built a
                    platform that offers something for everyone, whether you're looking to earn
                    crypto or simply relax and enjoy bitcoin gambling.
                </p>
                <p>
                    The platform uses blockchain technology to provide transparency and fairness in
                    the gaming process. Also, BetFury offers a variety of games, including Slots,
                    Table games, and Live Casino games. In addition, here you can find Bitcoin
                    Sportsbook where users can place bets on various sports events.
                </p>
                <p>
                    The platform uses blockchain technology to provide transparency and fairness in
                    the gaming process. Also, BetFury offers a variety of games, including Slots,
                    Table games, and Live Casino games. In addition, here you can find Bitcoin
                    Sportsbook where users can place bets on various sports events.
                </p>
            </div>
            <button hidden data-showmore-button type="button" class="button">
                <div class="button__text"><span>Показати більше</span><span>Сховати</span></div>
            </button>
        </div>
    </div>
</section>
