<article class="level-card">
    <div class="level-card__image">
        <img width="102" height="133" data-src="@img/@@image" alt="" />
    </div>
    <div class="level-card__content">
        <span class="level-card__line"></span>
        <div class="level-card__body">
            <h3 class="level-card__title">
                @@title
            </h3>
            <div class="level-card__sum">
                Сумма оборота:
                <span class="level-card__sum-value"
                    >@@sum</span
                >
            </div>
            <ul class="level-card__list">
                <li class="level-card__list-item">
                    Monthly Bonuses
                </li>
                <li class="level-card__list-item">
                    Level Up Bonuses
                </li>
                <li class="level-card__list-item">
                    Rakeback
                </li>
                <li class="level-card__list-item">
                    Weekly Bonuses
                </li>
            </ul>
        </div>
    </div>
</article>