<div class="main-block">
    <div class="main-block__container">
        <div class="main-block__slider swiper">
            <div class="main-block__wrapper swiper-wrapper">
                <div class="main-block__slide swiper-slide">
                    <div class="main-banner">
                        <div class="main-banner__inner">
                            <h2 class="main-banner__title">
                                Ласкаво просимо до
                                <span class="_red">Casino21UA</span>
                            </h2>
                            <h3 class="main-banner__sub-title">
                                Отримайте 100% бонус до депозиту + 100 безкоштовних обертань за
                                реєстрацію
                            </h3>
                            <div class="main-banner__row">
                                <a href="#" class="main-banner__button button"
                                    ><span class="button__text">Реєстрація</span></a
                                >
                                <div class="main-banner__login">
                                    <div class="main-banner__text">або увійти в систему з</div>
                                    <nav class="main-banner__services">
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/01.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/02.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/03.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/04.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/05.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/06.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/07.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/08.svg"
                                                alt=""
                                            />
                                        </a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="main-banner__image">
                            <img width="1050" height="540" data-src="@img/main-banner.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="main-block__slide swiper-slide">
                    <div class="main-banner">
                        <div class="main-banner__inner">
                            <h2 class="main-banner__title">
                                Ласкаво просимо до
                                <span class="_red">Casino21UA</span>
                            </h2>
                            <h3 class="main-banner__sub-title">
                                Отримайте 100% бонус до депозиту + 100 безкоштовних обертань за
                                реєстрацію
                            </h3>
                            <div class="main-banner__row">
                                <a href="#" class="main-banner__button button"
                                    ><span class="button__text">Реєстрація</span></a
                                >
                                <div class="main-banner__login">
                                    <div class="main-banner__text">або увійти в систему з</div>
                                    <nav class="main-banner__services">
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/01.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/02.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/03.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/04.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/05.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/06.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/07.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/08.svg"
                                                alt=""
                                            />
                                        </a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="main-banner__image">
                            <img width="1050" height="540" data-src="@img/main-banner.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="main-block__slide swiper-slide">
                    <div class="main-banner">
                        <div class="main-banner__inner">
                            <h2 class="main-banner__title">
                                Ласкаво просимо до
                                <span class="_red">Casino21UA</span>
                            </h2>
                            <h3 class="main-banner__sub-title">
                                Отримайте 100% бонус до депозиту + 100 безкоштовних обертань за
                                реєстрацію
                            </h3>
                            <div class="main-banner__row">
                                <a href="#" class="main-banner__button button"
                                    ><span class="button__text">Реєстрація</span></a
                                >
                                <div class="main-banner__login">
                                    <div class="main-banner__text">або увійти в систему з</div>
                                    <nav class="main-banner__services">
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/01.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/02.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/03.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/04.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/05.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/06.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/07.svg"
                                                alt=""
                                            />
                                        </a>
                                        <a href="#" class="main-banner__service">
                                            <img
                                                width="15"
                                                height="15"
                                                data-src="@img/services/08.svg"
                                                alt=""
                                            />
                                        </a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="main-banner__image">
                            <img width="1050" height="540" data-src="@img/main-banner.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
