<section class="payments">
    <div class="payments__container">
        <h2 class="payments__title title">Preferred payment method</h2>
        <div class="payments__body">
            <ul class="payments__list">
                <li class="payments__item">
                    <div class="payments__image">
                        <img width="95" height="30" data-src="@img/payments/payment-01.png" alt="" />
                    </div>
                </li>
                <li class="payments__item">
                    <div class="payments__image">
                        <img width="95" height="30" data-src="@img/payments/payment-02.png" alt="" />
                    </div>
                </li>
                <li class="payments__item">
                    <div class="payments__image">
                        <img width="95" height="30" src="@img/payments/payment-03.svg" alt="" />
                    </div>
                </li>
                <li class="payments__item">
                    <div class="payments__image">
                        <img width="95" height="30" src="@img/payments/payment-04.svg" alt="" />
                    </div>
                </li>
            </ul>
            <a href="#" class="payments__button button button--middle"
                ><span class="button__text">Make Deposit</span></a
            >
        </div>
    </div>
</section>