<div class="banners-list">
    <div class="banners-list__container">
        @@include('./_small-banner.htm',{"title":"Lucky wheel","image":"small-banner-01.png"})
        @@include('./_small-banner.htm',{"title":"Daily bonus","image":"small-banner-02.png"})
        @@include('./_small-banner.htm',{"title":"рейкбек","image":"small-banner-03.png"})
        @@include('./_small-banner.htm',{"title":"vip клуб","image":"small-banner-04.png"})
        @@include('./_small-banner.htm',{"title":"FREE бокси","image":"small-banner-05.png"})
        @@include('./_small-banner.htm',{"title":"ПРОМОКОДИ","image":"small-banner-06.png"})
    </div>
</div>