<section class="games">
    <div class="games__container">
        <div class="games__slider swiper">
            <div class="games__heading">
                <h3 class="games__title">
                    <img src="@img/games/games-01.png" alt="" class="games__image" />
                    <span class="games__title-value">Best ігри</span>
                </h3>
                <div class="games__buttons">
                    <button
                        type="button"
                        class="games__button swiper-button swiper-button-prev _icon-slider-arrow-left"
                    ></button>
                    <button
                        type="button"
                        class="games__button swiper-button swiper-button-next _icon-slider-arrow-right"
                    ></button>
                </div>
            </div>
            <div class="games__wrapper swiper-wrapper">
                <div class="games__slide swiper-slide">
                    @@include('./_games-card.htm',{"image":"games/game-01.png"})
                </div>
                <div class="games__slide swiper-slide">
                    @@include('./_games-card.htm',{"image":"games/game-02.png"})
                </div>
                <div class="games__slide swiper-slide">
                    @@include('./_games-card.htm',{"image":"games/game-03.png"})
                </div>
                <div class="games__slide swiper-slide">
                    @@include('./_games-card.htm',{"image":"games/game-04.png"})
                </div>
                <div class="games__slide swiper-slide">
                    @@include('./_games-card.htm',{"image":"games/game-05.png"})
                </div>
                <div class="games__slide swiper-slide">
                    @@include('./_games-card.htm',{"image":"games/game-06.png"})
                </div>
                <div class="games__slide swiper-slide">
                    @@include('./_games-card.htm',{"image":"games/game-07.png"})
                </div>
                <div class="games__slide swiper-slide">
                    @@include('./_games-card.htm',{"image":"games/game-01.png"})
                </div>
                <div class="games__slide swiper-slide">
                    @@include('./_games-card.htm',{"image":"games/game-02.png"})
                </div>
                <div class="games__slide swiper-slide">
                    @@include('./_games-card.htm',{"image":"games/game-03.png"})
                </div>
            </div>
        </div>
    </div>
</section>
