<a href="#" class="card-game">
	<div class="card-game__wrapper">
		<img width="171" height="229" data-src="@img/@@image" alt="" class="card-game__img" />
		<div class="card-game__category">
			<img width="15" height="15" src="@img/fire-icon.svg" alt="" />
			BEST
		</div>
		<div class="card-game__content">
			<span class="card-game__icon _icon-play"></span>
			<div class="card-game__info">
				<h4 class="card-game__title">SWEET BONANZA</h4>
				<div class="card-game__sub-title">Pragmatic play</div>
			</div>
		</div>
	</div>
</a>
