<section class="games">
	<div class="games__container">
		<div class="games__main-wrapper">
			<div class="games__heading">
				<h3 class="games__title">
					<img width="45" height="63" data-src="@img/games/games-11.png" alt="" class="games__image" />
					<span class="games__title-value">Всі Провайдери <span class="_red">3509+</span> </span>
				</h3>
			</div>
			<div class="games__cards-list">
				@@include('./_games-card.htm',{"image":"games/game-01.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-02.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-03.png"})
				@@include('./_games-card.htm',{"image":"games/game-04.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-05.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-06.png"})
				@@include('./_games-card.htm',{"image":"games/game-07.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-01.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-01.png"})
				@@include('./_games-card.htm',{"image":"games/game-02.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-03.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-04.png"})
				@@include('./_games-card.htm',{"image":"games/game-05.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-06.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-07.png"})
				@@include('./_games-card.htm',{"image":"games/game-01.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-01.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-02.png"})
				@@include('./_games-card.htm',{"image":"games/game-03.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-04.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-05.png"})
				@@include('./_games-card.htm',{"image":"games/game-06.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-07.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-01.png"})
				@@include('./_games-card.htm',{"image":"games/game-01.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-02.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-03.png"})
				@@include('./_games-card.htm',{"image":"games/game-04.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-05.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-06.png"})
				@@include('./_games-card.htm',{"image":"games/game-07.png"}) 
                @@include('./_games-card.htm',{"image":"games/game-01.png"})
			</div>
		</div>
		<a href="#" class="button">
			<span class="button__text">Показати більше</span>
		</a>
	</div>
</section>
