.checkbox {
    position: relative;
    &:not(:last-child) {
        margin-bottom: em(5);
    }
    // .checkbox__input
    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .checkbox__label:before {
            background: var(--primary);
            color: var(--text-secondary);
            border-color: transparent;
        }
    }
    // .checkbox__label
    &__label {
        cursor: pointer;
        display: inline-flex;
        position: relative;
        gap: 5px;
        &:before {
            content: "\e92b";
            font-family: "icons";
            align-self: flex-start;
            flex: 0 0 auto;
            width: toRem(14);
            height: toRem(14);
            border: 1px solid var(--text-primary);
            border-radius: 5px;
            margin-top: toRem(3);
            color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: toRem(5);
        }
    }
    // .checkbox__text
    &__text {
        align-self: center;
    }
}
