// <SELECT>
// Сніппет (HTML): sel
.select {
    min-width: 0;
    position: relative;
    // .select__body
    &__body {
        position: relative;
        z-index: 2;
    }
    // .select__title
    &__title {
        color: inherit;
        text-align: left;
        background-color: var(--bg-secondary);
        cursor: pointer;
        border-radius: 20px;
    }
    // .select__value
    &__value {
        display: inline-flex;
        min-width: 0;
        align-items: center;
        justify-content: center;
        height: toRem(80);
        width: toRem(80);
        padding: 0 toRem(15);
        gap: toRem(5);
        font-weight: 800;
        border: 1px solid transparent;
        ._select-open & {
            border-color: var(--text-primary);
        }
        &:after {
            content: "\e90e";
            font-family: "icons";
            font-size: toRem(7);
        }
        &._select-pseudo-label {
            &::before {
                content: attr(data-pseudo-label);
                opacity: 0.5;
            }
        }
        .select_chat-window & {
            width: toRem(150);
            height: toRem(60);
            padding: toRem(10) toRem(20);
            gap: toRem(12);
            background-color: #202a3a;
            border-radius: 20px;
            color: var(--text-secondary);
            &::before {
                content: "";
                flex: 0 0 auto;
                width: toRem(22);
                height: toRem(23);
                background: url("@img/earth.svg") center center / contain no-repeat;
            }
            &::after {
                color: var(--text-primary);
            }
        }
        .casino-categories__select-wrapper & {
            width: toRem(185);
            height: toRem(60);
            border-radius: 20px;
            color: var(--text-secondary);
            font-weight: 800;
            gap: toRem(20);
            &::after {
                color: var(--text-primary);
            }
            @media (max-width: $mobile) {
                width: toRem(134);
                height: toRem(30);
                padding: 0 toRem(12) 0 toRem(12);
                gap: toRem(5);
                font-size: toRem(12);
            }
        }
    }
    // .select__content
    &__content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    // .select__text
    &__text {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__input {
        width: 100%;
        background-color: transparent;
        height: 100%;
    }
    // .select__options
    &__options {
        position: absolute;
        top: calc(100% + toRem(3));
        border-radius: 20px;
        overflow: hidden;
        left: 0;
        background-color: var(--bg-secondary);
        border: 1px solid var(--text-primary);
    }
    // .select__scroll
    &__scroll {
        overflow-y: auto;
        overflow-x: hidden;
        // Максимальна висота
        max-height: toRem(200);
        // Стилі скроллбару
        .simplebar-scrollbar {
            &::before {
                //opacity: 1;
            }
        }
    }
    // .select__option
    &__option {
        width: 100%;
        text-align: center;
        cursor: pointer;
        padding: toRem(15);
        color: inherit;
        font-weight: 800;
        &._select-selected {
            background: #1d293a;
        }
        @media (any-hover: hover) {
            &:hover {
                background: #1d293a;
            }
        }
    }

    // Конструкція додаткових даних
    &__row {
        display: inline-flex;
        align-items: center;
    }
    &__asset {
    }
    &__text {
    }

    &--show-top {
    }
    // Стан селекту
    &._select-open {
    }
    &._select-disabled {
    }
    &._select-active {
    }
    &._select-focus {
    }
    &._select-multiple {
    }
    &._select-checkbox {
    }
}

// Тег
._select-tag {
    cursor: pointer;
}
