<div id="rake-popup" aria-hidden="true" class="popup popup-rake">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close _icon-close"></button>
			<div class="popup__body">
				<h3 class="popup__title">Rake Back</h3>
				<div class="rake">
					<div class="rake__body">
						<div class="rake__image">
							<img src="@img/pig.png" alt="" />
						</div>
						<div class="rake__content">
							<div class="rake__label">Ваша сума для виведення становить</div>
							<span class="rake__counter _red">0 JET</span>
							<p class="rake__text">Доступний кожні 30 хвилин. У разі готовності ви отримаєте додаткове повідомлення.</p>
							<button class="rake__button button" disabled>
								<span class="button__text">Забрати</span>
							</button>
						</div>
					</div>
					<div class="rake__info">
						<div class="rake__info-label"><span class="_icon-secondary-info"></span>Про RakeBack</div>
						<div class="rake__text">
							<p>Rakeback - отримуйте бонус за кожну ставку кожні 30 хв, граючи в ігрові автомати та власні ігри. Що вищий ваш Ранг - то більший Бонус.</p>
							<p>Rakeback доступний з 2 рівня</p>
							<p>Що вищий рівень, то вищий відсоток Rakeback</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
