<div id="weekly-popup" aria-hidden="true" class="popup popup-weekly">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close _icon-close"></button>
			<div class="popup__body">
				<h3 class="popup__title">Weekly Cashback</h3>
				<div class="weekly">
					<div class="weekly__image">
						<img src="@img/card-filler.png" alt="" />
					</div>
					<h4 class="weekly__title"><span class="_red">Weekly </span>Cashback</h4>
					<div class="weekly__text text">
						<p>
							The Weekly Cashback is based on your recent activity on Coins.Game and includes factors like your recent P&L, which includes lossback. You can receive a Weekly Cashback
							every 7 days.
						</p>
						<p>When you activate the Weekly Cashback, you also get Rakeboost. For a certain period of time your rakeback will be increased (Rakeboosts don’t stack).</p>
					</div>
					<h4 class="weekly__title">How to claim your Weekly Cashback?</h4>
					<div class="weekly__text text">
						<p>
							Go to the Bonuses page and find the Weekly Cashback block. There you can find a countdown timer that indicates the time until the next bonus. If it is available, press the
							‘Claim’ button to receive it.
						</p>
					</div>
					<a href="#" class="button"><span class="button__text">Go to bonuses</span></a>
				</div>
			</div>
		</div>
	</div>
</div>
