<div id="win-popup" aria-hidden="true" class="popup popup-win">
	<div class="popup__wrapper">
		<div class="popup__content">
			<button data-close type="button" class="popup__close _icon-close"></button>
			<div class="popup__body">
				<h3 class="popup__title">WIN 8.88 BTC</h3>
				<div class="popup__text">Spin the wheel and</div>
				<div class="coins-wheel">
					<div class="coins-wheel__timer">
						<span class="coins-wheel__timer-label">Next spin</span>
						<span class="coins-wheel__timer-value">10:42:13</span>
					</div>
					<div class="coins-wheel__image">
						<img src="@img/coins-wheel.png" alt="" />
					</div>
					<footer class="coins-wheel__footer">
						<a href="#" class="coins-wheel__user">
							<div class="avatar">
								<img width="33" height="33" src="@img/users/03.png" alt="" />
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 34 34" class="avatar__svg">
									<circle fill="none" stroke="" cx="16" cy="16" r="15.9155" style="stroke-dashoffset: 0px; stroke-dasharray: 100 100"></circle>
								</svg>
							</div>
							<div class="coins-wheel__user-info">
								<span class="coins-wheel__user-login">Grizwon</span>
								<span class="coins-wheel__user-value _gold">7.77000000 JET</span>
								<span class="coins-wheel__user-label">in <span class="_gold">Lucky Spin</span> </span>
							</div>
							<span class="_icon-daw-bottom"></span>
						</a>
						<div class="coins-wheel__total">
							<span class="coins-wheel__total-label">SPIN BONUS TOTAL</span>
							<span class="coins-wheel__total-value">$5,236,813.95</span>
						</div>
					</footer>
				</div>
			</div>
		</div>
	</div>
</div>
