// Заголовки, загальні БЕМ блоки та інше...
._red {
	background: var(--linear-primary);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
._orange {
	background: var(--linear-secondary);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.title {
	@include adaptiveValue("font-size", 30, 25);
	font-weight: 800;
	color: var(--text-secondary);
	line-height: 1.2;
}
.text {
	font-weight: 500;
	max-width: toRem(770);
	@include adaptiveValue("font-size", 20, 15);
	line-height: 135%; /* 27/20 */
}
//========================================================================================================================================================
.games {
	&__container {
		display: flex;
		flex-direction: column;
		.button {
			align-self: center;
		}
	}
	&__main-wrapper {
		padding: toRem(20) toRem(40) toRem(40);
		background-color: var(--bg-secondary);
		border-radius: 60px;
		margin-bottom: toRem(50);
		@media (max-width: $mobile) {
			border-radius: 30px;
			padding: toRem(13) toRem(20);
		}
	}
	&__slider {
		padding: toRem(20) toRem(40) toRem(40);
		background-color: var(--bg-secondary);
		border-radius: 60px;
		position: relative;
		&::after,
		&::before {
			content: "";
			position: absolute;
			z-index: 2;
			top: 0;
			height: 100%;
			background-color: var(--bg-secondary);
			width: toRem(40);
			@media (max-width: $mobile) {
				width: toRem(20);
			}
		}
		&::before {
			left: toRem(-2);
		}
		&::after {
			right: toRem(-2);
		}
		@media (max-width: $mobile) {
			border-radius: 30px;
			padding: toRem(13) toRem(20);
		}
		.search-block & {
			padding: 0;
			background-color: transparent;
			border-radius: 0;
			&::before,
			&::after {
				display: none;
			}
		}
	}
	&__heading {
		margin-bottom: toRem(20);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(20);
		@media (max-width: $mobile) {
			margin-bottom: toRem(13);
		}
	}
	&__title {
		display: flex;
		gap: toRem(10);
		align-items: center;
		color: var(--text-secondary);
		font-weight: 800;
		@include adaptiveValue("font-size", 30, 20);
	}
	&__image {
		width: toRem(45);
		height: toRem(63);
		object-fit: contain;
		object-position: center center;
		@media (max-width: $mobile) {
			width: toRem(33);
			height: toRem(45);
		}
	}
	&__title-value {
	}
	&__buttons {
		display: flex;
		gap: toRem(10);
	}
	&__button {
		width: toRem(40);
		height: toRem(40);
		@media (max-width: $mobile) {
			width: toRem(30);
			height: toRem(30);
			font-size: toRem(12);
		}
	}
	&__wrapper {
	}
	&__slide {
	}
	&__cards-list {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		gap: toRem(15);
		@media (max-width: $pc) {
			grid-template-columns: repeat(6, 1fr);
		}
		@media (max-width: toRem(1200)) {
			grid-template-columns: repeat(5, 1fr);
		}
		@media (max-width: toRem(659)) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media (max-width: toRem(549)) {
			grid-template-columns: repeat(3, 1fr);
			gap: toRem(7);
		}
	}
}
//========================================================================================================================================================
.video {
	width: 100%;
	max-width: toRem(475);
	&__wrapper {
		width: 100%;
		position: relative;
		padding-bottom: 63.157895%; /* 300/475 */
		border-radius: 30px;
		background-color: var(--bg-secondary);
		overflow: hidden;
	}
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: filter 0.3s;
		@media (any-hover: hover) {
			&:hover {
				filter: drop-shadow(0px 5px 50px rgba(255, 0, 66, 0.81));
			}
		}
		&::before {
			background: var(--linear-primary);
			width: toRem(78);
			height: toRem(78);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--text-secondary);
			font-size: toRem(20);
			padding-left: toRem(4);
		}
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: #8a0a28;
			z-index: -1;
			position: absolute;
			top: toRem(4);
			left: 0;
		}
	}
}
//========================================================================================================================================================
.swiper-button {
	background: linear-gradient(180deg, #ff2151 2.74%, #ff0041 47.4%, #d70036 100%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	color: var(--text-secondary);
	pointer-events: all;
	.levels-block & {
		width: toRem(56);
		height: toRem(56);
		font-size: toRem(20);
		transition: box-shadow 0.3s;
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0px 5px 50px 0px rgba(255, 0, 66, 0.81);
			}
		}
		&.swiper-button-prev {
			padding-right: toRem(5);
		}
		&.swiper-button-next {
			padding-left: toRem(5);
		}
	}
	&.swiper-button-disabled {
		background: #202a3a;
		color: var(--text-primari);
		cursor: default;
		pointer-events: none;
	}
}
.swiper-pagination {
	display: flex;
	gap: toRem(10);
	justify-content: center;
}
.swiper-pagination-bullet {
	flex: 0 0 toRem(74);
	height: toRem(2);
	background-color: #202a3a;
	transition: background-color 0.3s;
	cursor: pointer;
	&.swiper-pagination-bullet-active {
		background-color: var(--primary);
		.main-block & {
			background-color: #f68d1a;
		}
	}
	@media (max-width: $mobile) {
		flex: 0 0 toRem(50);
	}
}
//========================================================================================================================================================
// Languages
.languages {
	overflow-x: hidden;
	margin: 0 toRem(-30);
	max-height: toRem(480);
	&__title {
		font-size: toRem(25);
		font-weight: 800;
		text-align: center;
		text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: toRem(23);
		}
	}
	&__list {
	}
	&__list-item {
	}
}
.language {
	&__list-link {
		padding: toRem(7) toRem(30);
		display: flex;
		align-items: center;
		gap: toRem(10);
		font-weight: 600;
		transition:
			color 0.3s,
			background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(65, 87, 117, 0.1);
				color: var(--text-secondary);
			}
		}
		._current-language & {
			background-color: rgba(65, 87, 117, 0.1);
			color: var(--text-secondary);
			pointer-events: none;
		}
	}
	&__flag {
		display: inline-block;
		width: toRem(25);
		height: toRem(22);
		flex: 0 0 auto;
		border-radius: 4px;
		overflow: hidden;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__label {
	}
}
//========================================================================================================================================================
.casino-categories {
	@include adaptiveValue("margin-bottom", 90, 30);
	&__container {
	}
	&__header {
		display: flex;
		gap: toRem(20);
		align-items: center;
		position: relative;
		z-index: 20;
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	&__title {
		flex: 1 1 auto;
		@media (min-width: $tablet) {
			align-self: flex-start;
		}
	}
	&__buttons {
		display: flex;
		gap: toRem(10);
		.swiper-button {
			width: toRem(40);
			height: toRem(40);
		}
	}
	&__slider {
		border-radius: 24px;
		position: relative;
		background-color: var(--bg-secondary);
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			width: toRem(250);
			height: toRem(96);
			pointer-events: none;
			background: linear-gradient(270deg, #0f1621 28.24%, rgba(15, 22, 33, 0.82) 62.07%, rgba(15, 22, 33, 0) 100%);
			@media (max-width: $mobile) {
				width: toRem(70);
			}
		}
		.casino-categories--providers & {
			border-radius: 0;
			background-color: transparent;
		}
		&._inline {
			display: inline-block;
			&::after {
				content: none;
			}
		}
	}
	&__wrapper {
	}
	&__slide {
	}
}
.casino-category {
	width: toRem(120);
	height: toRem(95);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: toRem(7);
	text-align: center;
	padding: toRem(10);
	position: relative;
	border-radius: 24px;
	overflow: hidden;
	transition: background-color 0.3s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #253041;
		}
	}
	.casino-categories--providers & {
		width: toRem(138);
		height: toRem(60);
		border-radius: 8px;
		border: 1px solid #202a3a;
		padding: toRem(5);
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--linear-primary);
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.3s;
		.swiper-slide-active & {
			opacity: 1;
		}
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		width: toRem(29);
		height: toRem(17);
		background: url("@img/casino-item-decor.svg") center center / contain no-repeat;
		transform: translate(-50%, 50%);
		display: inline-block;
		opacity: 0;
		transition: opacity 0.3s;
		.swiper-slide-active & {
			opacity: 1;
		}
	}
	&::before,
	&::after {
		.casino-categories--providers & {
			display: none;
		}
	}
	&__image {
		width: toRem(48);
		height: toRem(48);
		position: relative;
		z-index: 3;
		.casino-categories--providers & {
			width: 100%;
			height: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__title {
		color: var(--text-secondary);
		font-weight: 700;
		white-space: nowrap;
		position: relative;
		z-index: 3;
	}
}
.games-collections {
	display: flex;
	flex-direction: column;
	gap: toRem(30);
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 100, 50);
	}
}
//========================================================================================================================================================
.user-area {
	display: flex;
	gap: toRem(20);
	align-items: center;
	@media (max-width: $pc) {
		gap: toRem(10);
	}
	.avatar {
		flex: 0 0 auto;
	}
	&__info {
		gap: toRem(10);
		display: flex;
		align-items: center;
	}
	&__body {
		display: flex;
		flex-direction: row-reverse;
		gap: toRem(5);
		&::before {
			font-size: toRem(8);
			margin-top: toRem(3);
		}
	}
	&__content {
		font-size: toRem(13);
	}
	&__name {
		font-weight: 800;
		margin-bottom: toRem(5);
		color: var(--text-secondary);
	}
	&__level {
		font-weight: 500;
	}
	&__wallet {
	}
}
.header-wallet {
	border-radius: 9px;
	background: #202a3a;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
	@media (max-width: $mobile) {
		margin: 0 toRem(15);
	}
	&__main {
		position: relative;
	}
	&__dropdown-button {
		padding: toRem(20);
		display: flex;
		align-items: center;
		gap: toRem(5);
		flex-direction: row-reverse;
		&::before {
			font-size: toRem(8);
			transition: transform 0.3s;
		}
		._opened &::before {
			transform: rotate(180deg);
		}
		img {
			width: toRem(19);
			height: toRem(19);
			flex: 0 0 auto;
		}
		@media (max-width: $pc) {
			padding: toRem(20) toRem(10);
		}
		@media (max-width: $mobile) {
			font-size: toRem(12);
			padding: toRem(10) toRem(5);
		}
	}
	&__button {
		@media (max-width: $mobile) {
			.button__text {
				padding: toRem(10) toRem(20);
			}
		}
	}
	&__value {
		color: var(--text-secondary);
		font-weight: 800;
		@media (max-width: $pc) {
			font-size: toRem(12);
		}
		@media (max-width: $mobile) {
			font-size: toRem(10);
		}
	}
	&__dropdown {
		position: absolute;
		left: 50%;
		width: toRem(245);
		padding: toRem(20);
		border-radius: 10px;
		background-color: #202a3a;
		transition:
			opacity 0.3s,
			visibility 0.3s,
			transform 0.3s;
		opacity: 0;
		visibility: hidden;
		transform: translate(-50%, 10px);
		._opened & {
			opacity: 1;
			visibility: visible;
			transform: translate(-50%, 0);
		}
		@media (min-width: $mobile) {
			top: calc(100% + 5px);
		}
		@media (max-width: $mobile) {
			bottom: calc(100% + 5px);
			width: toRem(200);
			left: 0;
			._opened & {
				transform: translate(0, 0);
			}
		}
	}
}
