.header {
    padding: toRem(15) 0;
    background-color: var(--bg-secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 150;
    &__container {
        display: flex;
        justify-content: space-between;
        gap: toRem(50);
        max-width: none;
    }
    &__left {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 50, 15, 0, 1500, 992);
    }
    &__logo {
        @include adaptiveValue("max-width", 256, 140);
        flex: 0 1 auto;
        transition: transform 0.3s;
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.03);
            }
        }
        img {
            max-width: 100%;
        }
    }
    &__bonus {
        min-width: toRem(150);
        text-align: right;
        overflow: hidden;
        .button__text {
            padding: toRem(20);
        }
        img {
            left: 0;
            top: 0;
            height: 100%;
            max-width: toRem(70);
            object-fit: cover;
        }
        @media (max-width: toRem(1350)) {
            display: none;
        }
    }
    &__right {
        display: flex;
        @include adaptiveValue("gap", 50, 15, 0, 1500, 992);
        align-items: center;
    }
    &__cabinet {
        display: flex;
        gap: toRem(10);
        align-items: center;
    }
    &__login {
        min-width: toRem(120);
        @media (max-width: $mobile) {
            min-width: toRem(70);
        }
    }
    &__registry {
        min-width: toRem(150);
        @media (max-width: $mobile) {
            min-width: toRem(87);
        }
        img {
            width: toRem(36);
            height: toRem(38);
            object-fit: contain;
            top: toRem(7);
            right: toRem(-15);
            transform: rotate(8.91deg);
            @media (max-width: $mobile) {
                width: toRem(30);
                height: toRem(30);
            }
        }
    }
    &__actives {
    }
}
.actives-header {
    display: flex;
    gap: toRem(10);
    @media (max-width: $tablet) {
        display: none;
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: toRem(5);
        font-size: toRem(27);
        position: relative;
        @media (min-width: $mobile) {
            width: toRem(60);
            height: toRem(60);
            border-radius: 6px;
            background-color: #202b3a;
            transition: background-color 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #283548;
                }
            }
        }
        .button__text {
            padding: toRem(20);
        }
        ._count {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            min-width: toRem(15);
            height: toRem(15);
            border-radius: 50%;
            background: var(--linear-secondary);
            color: #0f1621;
            font-size: toRem(10);
            position: absolute;
            top: 10px;
            right: 10px;
            font-weight: 800;
        }
        img {
            max-width: 100%;
        }
        &--language {
            flex-direction: row-reverse;
            font-size: toRem(8);
        }
    }
}
.chat-button {
    @media (any-hover: hover) {
        transition: color 0.3s;
        &:hover {
            color: var(--text-secondary);
        }
        .chat-open & {
            color: var(--text-secondary);
        }
    }
}
