.sidebar {
    position: fixed;
    top: toRem(100);
    left: 0;
    height: calc(100vh - toRem(100));
    overflow-y: auto;
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
    width: 100%;
    pointer-events: none;
    z-index: 100;
    @media (max-width: $tablet) {
        left: -100%;
        transition: left 0.5s;
        .menu-open & {
            left: 0;
            pointer-events: all;
        }
    }
    @media (max-width: $mobile) {
        top: toRem(80);
        height: calc(100vh - toRem(80));
    }
    &__menu {
    }
    &__actives {
        display: none;
        max-width: toRem(228);
        .menu-open & {
            display: block;
        }
    }
    &__society {
        display: none;
        max-width: toRem(228);
        .menu-open & {
            display: flex;
        }
    }
    &__buttons {
        flex-direction: column;
        gap: toRem(5);
        padding: toRem(20) toRem(15);
        display: none;
        .menu-open & {
            display: flex;
        }
    }
    &__button {
    }
}
.menu {
    display: inline-block;
    background-color: var(--bg-secondary);
    border-radius: 30px;
    position: relative;
    pointer-events: all;
    padding-bottom: toRem(30);
    @media (max-width: $tablet) {
        padding-bottom: toRem(100);
    }
    &-webkit-scrollbar {
        width: 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
    }
    &__item {
    }
    &__link {
    }
}
.item-menu {
    display: flex;
    &__link {
    }
    &__content {
        position: absolute;
        top: 0;
        left: toRem(78);
    }
}
.link-menu {
    height: auto;
    min-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: toRem(20) toRem(30);
    border-radius: 30px;
    max-width: toRem(228);
    justify-content: center;
    transition: background-color 0.3s;
    @media (any-hover: hover) {
        &:hover {
            .link-menu__label {
                color: var(--text-secondary);
            }
            .link-menu__icon {
                color: var(--primary);
            }
        }
    }
    ._active & {
        color: var(--text-secondary);
        background: var(--linear-primary);
        pointer-events: none;
    }
    .menu-open & {
        padding: toRem(20) toRem(15);
    }
    .menu-open ._opened & {
        background: transparent;
    }
    &__icon {
        font-size: toRem(27);
        transition: color 0.3s;
        .menu-open & {
            margin-right: toRem(10);
        }
        .menu-open ._opened & {
            color: var(--primary);
        }
    }
    &__label {
        display: none;
        flex: 1 1 auto;
        color: #9cb3d2;
        font-weight: 700;
        transition: color 0.3s;
        &:not(:last-child) {
            margin-right: toRem(15);
        }
        .menu-open & {
            display: inline-block;
            ._opened & {
                color: var(--text-secondary);
            }
        }
        ._active & {
            color: var(--text-secondary);
        }
    }
    &__arrow {
        display: none;
        width: toRem(19);
        height: toRem(19);
        border-radius: 5px;
        background-color: #253041;
        font-size: toRem(8);
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        .menu-open & {
            display: inline-flex;
        }
        &::before {
            transform: translate(0, 1px);
        }
        ._active & {
            background-color: var(--text-secondary);
            color: var(--primary);
            &::before {
                transform: rotate(-90deg) translate(0, 1px);
            }
        }
        ._opened & {
            background: var(--linear-primary);
            color: var(--text-secondary);
            transform: rotate(-90deg);
        }
    }
}
//========================================================================================================================================================
// Sub-menu
.sub-menu {
    display: none;
    pointer-events: all;
    .menu-open ._opened & {
        background-color: var(--bg-secondary);
        padding: toRem(25) toRem(15);
        padding-left: toRem(150);
        z-index: -1;
        border-radius: 0 30px 30px 0;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        gap: toRem(10);
        max-height: 100%;
        overflow-y: auto;
        -ms-overflow-style: none; /* IE 10+ */
        scrollbar-width: none; /* Firefox */
        @media (max-width: $tablet) {
            padding-bottom: toRem(150);
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: toRem(150);
        width: toRem(1);
        height: 100%;
        background: linear-gradient(
            rgba(37, 48, 65, 0) 0%,
            #273244 44.75%,
            rgba(22, 31, 44, 0) 100%
        );
    }
    &__items {
        display: flex;
        flex-direction: column;
        gap: toRem(10);
        padding-left: toRem(20);
        &:not(:last-child) {
            padding-bottom: toRem(10);
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: toRem(1);
                background: linear-gradient(
                    90deg,
                    rgba(37, 48, 65, 0) 0%,
                    #273244 44.75%,
                    rgba(22, 31, 44, 0) 100%
                );
            }
        }
        &--grid {
            @media (min-width: $mobile) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    &__item {
    }
}
.item-sub-menu {
    &__link {
        display: flex;
        padding: toRem(3);
        width: toRem(140);
        min-height: toRem(50);
        border-radius: 8px;
        background: rgba(37, 48, 65, 0.28);
        gap: toRem(5);
        align-items: center;
        transition: background-color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                background-color: #253041;
                .item-sub-menu__image::before {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
    &__image {
        width: toRem(45);
        height: toRem(45);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex: 0 0 auto;
        &::before {
            content: "";
            width: toRem(45);
            height: toRem(47);
            position: absolute;
            top: 0;
            left: 0;
            background: url("@img/payments/play.svg") center center / contain no-repeat;
            filter: drop-shadow(0px 2.436px 24.359px rgba(255, 0, 66, 0.81));
            transform: scale(0.5);
            opacity: 0;
            pointer-events: none;
            transform:
                transform 0.3s,
                opacity 0.3s;
        }
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: toRem(5);
        font-size: toRem(13);
    }
    &__label {
        font-weight: 700;
        color: var(--text-secondary);
        line-height: 1.15;
    }
    &__info {
        font-weight: 500;
        text-transform: uppercase;
    }
}
//========================================================================================================================================================
.actives-sidebar {
    padding: toRem(15);
    &__button {
        padding: 0 toRem(15);
        border-radius: 8px;
        border: 1px solid #253041;
        display: flex;
        justify-content: space-between;
        gap: toRem(10);
        align-items: center;
        color: #9cb3d2;
        font-weight: 700;
        transition: background-color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                background-color: #1d293a;
            }
        }
        &:not(:last-child) {
            margin-bottom: toRem(5);
        }
    }
    &__text-button {
        padding: toRem(12) 0;
    }
    &__button-image {
        max-width: toRem(40);
        max-height: toRem(40);
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__payments {
        display: flex;
        gap: toRem(15);
        justify-content: center;
        padding: toRem(13);
        align-items: center;
    }
    &__payment {
        max-height: toRem(15);
        max-width: toRem(33);
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
//========================================================================================================================================================
.society {
    gap: toRem(20);
    justify-content: center;
    align-items: center;
    padding: toRem(15);
    padding-top: 0;
    flex-wrap: wrap;
    &__item {
    }
    &__link {
        width: toRem(26);
        height: toRem(26);
        transition: transform 0.3s;
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.2);
            }
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}
//========================================================================================================================================================
